<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.rs.mapper.MachineMapper">

    <resultMap type="com.iss.rs.entity.Machine" id="allMachine">
        <!-- map table "person"column to class "Person" property -->
        <id column="machineId" property="machineId"/>
        <result property="yarnType" column="yarnType"/>
        <result property="capacity" column="capacity"/>
        <result property="cost" column="cost"/>
    </resultMap>

    <select id="getAllMachine" resultMap="allMachine">
        SELECT * FROM machine
    </select>

</mapper>
