<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.rs.mapper.ProductInfoMapper">

    <resultMap type="Productinfo" id="allProduct">
        <!-- map table "person"column to class "Person" property -->
        <id column="productType" property="productType"/>
        <result property="volume" column="volume"/>
        <result property="temperature" column="temperature"/>
        <result property="bakeTime" column="bakeTime"/>
        <result property="aoiTime" column="aoiTime"/>
    </resultMap>

    <select id="getAllProduct" resultMap="allProduct">
        SELECT * FROM productinfo
    </select>

    <select id="getProductType" parameterType="string" resultType="string">
        SELECT productType
        FROM productinfo
        where productType like #{series}"%"
    </select>

</mapper>
