<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.rs.mapper.ProductInfoMapper">


    <select id="getAllProduct" resultType="Productinfo">
        SELECT * FROM productinfo
    </select>

    <select id="getProductType" parameterType="string" resultType="string">
        SELECT productType
        FROM productinfo
        where productType like #{series}"%"
    </select>

    <select id="getProductInfo" parameterType="string" resultType="Productinfo">
        SELECT *
        FROM productinfo
        where productType = #{type}
    </select>
</mapper>
